@{
    ViewBag.Title = "Sponsorship Page";
   
}

<!-- Portfolio Grid Section -->
<section id="sponsorship" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Sponsorships</h2>
                <h3 class="section-subheading text-muted">Find the right sponsorship for your goals.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="@Url.Content("~/img/Students/student1.jpg")" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Sibandon Branda</h4>
                    <p class="text-muted">Metallurgy</p>
                    <p class="text-muted">University of Limpopo</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="@Url.Content("~/img/Students/student2.jpg")" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Aggy Sirve</h4>
                    <p class="text-muted">Art and Design</p>
                    <p class="text-muted">Jeppe School Of Girls</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="@Url.Content("~/img/Students/student3.jpg")" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Jessie Malcolm</h4>
                    <p class="text-muted">Graphic  Designer</p>
                    <p class="text-muted">Unviversity of Cape Town</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="@Url.Content("~/img/Students/student4.jpg")" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>John Kwane</h4>
                    <p class="text-muted">Computer Science first year</p>
                    <p class="text-muted">Midrand Technology College</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="@Url.Content("~/img/Students/student5.jpg")" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Pranev Kush</h4>
                    <p class="text-muted">2017 Matriculant</p>
                    <p class="text-muted">Queens High School</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="@Url.Content("~/img/Students/student6.jpg")" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Sbongile Mokwena</h4>
                    <p class="text-muted">P.H.D Candidate</p>
                    <p class="text-muted">University Of Johannesburg</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Portfolio Modals -->
<!-- Use the modals below to showcase details about your portfolio projects! -->
<!-- Portfolio Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Sbongile Mokwena</h2>
                        <p class="item-intro text-muted">Universtity Of Johannesburg P.H.D Student</p>
                        <img class="img-responsive img-centered" src="@Url.Content("~/img/Students/student1.jpg")" alt="">
                        <p>My name is Sibongile and I'm 28 years old. I could give you a thousand reasons to motivate my application for an ICB bursary, but the most important one is that I absolutely love what I'm studying.</p>
                        <p>I've recently experienced financial contraints, as my family has lost its only breadwinner. My father became unemployed last year and since then I've been solely dependent on my older brother. It's tough for him, because he's not permanently employed</p>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Profile</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 2 -->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Sbongile Mokwena</h2>
                        <p class="item-intro text-muted"></p>
                        <img class="img-responsive img-centered" src="@Url.Content("~/img/Students/student2.jpg")" alt="">
                        <p>My name is Sibongile and I'm 28 years old. I could give you a thousand reasons to motivate my application for an ICB bursary, but the most important one is that I absolutely love what I'm studying.</p>
                        <p>I've recently experienced financial contraints, as my family has lost its only breadwinner. My father became unemployed last year and since then I've been solely dependent on my older brother. It's tough for him, because he's not permanently employed</p>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Profile</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 3 -->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Sbongile Mokwena</h2>
                        <p class="item-intro text-muted">Universtity Of Johannesburg P.H.D Student</p>
                        <img class="img-responsive img-centered" src="@Url.Content("~/img/Students/student3.jpg")" alt="">
                        <p>My name is Sibongile and I'm 28 years old. I could give you a thousand reasons to motivate my application for an ICB bursary, but the most important one is that I absolutely love what I'm studying.</p>
                        <p>I've recently experienced financial contraints, as my family has lost its only breadwinner. My father became unemployed last year and since then I've been solely dependent on my older brother. It's tough for him, because he's not permanently employed</p>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Profile</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 4 -->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Sbongile Mokwena</h2>
                        <p class="item-intro text-muted">Universtity Of Johannesburg P.H.D Student</p>
                        <img class="img-responsive img-centered" src="@Url.Content("~/img/Students/student4.jpg")" alt="">
                        <p>My name is Sibongile and I'm 28 years old. I could give you a thousand reasons to motivate my application for an ICB bursary, but the most important one is that I absolutely love what I'm studying.</p>
                        <p>I've recently experienced financial contraints, as my family has lost its only breadwinner. My father became unemployed last year and since then I've been solely dependent on my older brother. It's tough for him, because he's not permanently employed</p>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Profile</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 5 -->
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Sbongile Mokwena</h2>
                        <p class="item-intro text-muted">Universtity Of Johannesburg P.H.D Student</p>
                        <img class="img-responsive img-centered" src="@Url.Content("~/img/Students/student5.jpg")" alt="">
                        <p>My name is Sibongile and I'm 28 years old. I could give you a thousand reasons to motivate my application for an ICB bursary, but the most important one is that I absolutely love what I'm studying.</p>
                        <p>I've recently experienced financial contraints, as my family has lost its only breadwinner. My father became unemployed last year and since then I've been solely dependent on my older brother. It's tough for him, because he's not permanently employed</p>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Profile</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 6 -->
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Sbongile Mokwena</h2>
                        <p class="item-intro text-muted">Universtity Of Johannesburg P.H.D Student</p>
                        <img class="img-responsive img-centered" src="@Url.Content("~/img/Students/student6.jpg")" alt="">
                        <p>My name is Sibongile and I'm 28 years old. I could give you a thousand reasons to motivate my application for an ICB bursary, but the most important one is that I absolutely love what I'm studying.</p>
                        <p>I've recently experienced financial contraints, as my family has lost its only breadwinner. My father became unemployed last year and since then I've been solely dependent on my older brother. It's tough for him, because he's not permanently employed</p>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Profile</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>